.main{
    height: calc(100vh - 60px);
    background-color: #192d3b;
    padding: 50px 300px;
    overflow: auto;
    .cards_container{
        display: flex;
        flex-wrap: wrap;
        gap: 25px;
    } 
}