.navbar{
    height: 60px;
    background-color: #2b3a46;
    padding: 10px;
    display: flex;
    .navbar_logo_container{
        flex-grow: 1;
        text-align: left;
        img{
            height: 100%;
        }
    }
    .navbar_filter_container{
        flex-grow: 0;
    }
}