.single_card{
    background-color: #2b3a46;
    width: calc(100% / 5 - 20px);
    padding: 20px;
    
    
    .single_card_image{
        width: 100%;
        img{
            width: 100%;
        }
    }

    .single_card_title{
        color: white;
        padding: 10px 0;
    }
    .single_card_description{
        p{
            color: gray;
            &.small{
                font-size: 12px;
            }
        }
    }
}